grid(class = 'Grid', columns = 12, margin = 1em)
  .{class}
    display block
    font-size 0

  .{class}-cell
    display inline-block
    font-size 1rem
    margin margin
    width s('calc(%s - %s)', 100% / columns, margin * 2)

  for col in 1..columns
    .{class}-cell--size{col}
      width s('calc(%s - %s)', 100% / columns * col, margin * 2)
