grid($columns = 8, $gap = 1em, $name = Grid)
  $name = unquote($name)

  // Small, one column
  {s('[class*="%s-item--"]', $name)}
    width s('calc(100% - %s)', $gap)
    margin ($gap / 2)

  // No small, with multiples columns
  +mediaquery('(min-width 48em)')
    .{$name}
      display flex
      flex-wrap wrap

    // Base style for Grid items
    {s('[class*="%s-item--"]', $name)}
      width s('calc(%s - %s)', 100% / $columns, $gap)

    // Columns
    for $col in 1..$columns
      {s('[class*="%s-item--"]', $name)}{s('[class*="--size%s"]', $col)}
        width s('calc(%s - %s)', 100% / $columns * $col, $gap)

    // Offsets
    for $col in 1..($columns - 1)
      {s('[class*="%s-item--"]', $name)}{s('[class*="--offset%s"]', $col)}
        margin-left s('calc(%s + %s)', 100% / $columns * $col, $gap / 2)
  
