/**
 * # Fuentes
 *
 * Reglas font-face.
 * Puedes usar fuentes del sistema o webfonts. O cargar tus fuentes con
 * @font-face desde aquí.
 */

@font-face {
    font-family: 'Arvo';
    src: url('fonts/Arvo/Arvo.eot');
    src: url('fonts/Arvo/Arvo.eot?#iefix') format('embedded-opentype'),
         url('fonts/Arvo/Arvo.woff2') format('woff2'),
         url('fonts/Arvo/Arvo.woff') format('woff'),
         url('fonts/Arvo/Arvo.ttf') format('truetype'),
         url('fonts/Arvo/Arvo.svg#arvoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSerif';
    src: url('fonts/DroidSerif/DroidSerif.eot');
    src: url('fonts/DroidSerif/DroidSerif.eot?#iefix') format('embedded-opentype'),
         url('fonts/DroidSerif/DroidSerif.woff2') format('woff2'),
         url('fonts/DroidSerif/DroidSerif.woff') format('woff'),
         url('fonts/DroidSerif/DroidSerif.ttf') format('truetype'),
         url('fonts/DroidSerif/DroidSerif.svg#droid_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icon';
    src:url('fonts/icomoon/icomoon.eot?-9djqav');
    src:url('fonts/icomoon/icomoon.eot?#iefix-9djqav') format('embedded-opentype'),
        url('fonts/icomoon/icomoon.woff?-9djqav') format('woff'),
        url('fonts/icomoon/icomoon.ttf?-9djqav') format('truetype'),
        url('fonts/icomoon/icomoon.svg?-9djqav#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
