/**
 * # Títulos
 *
 * Títulos h1 - h6
 * Los estilos de cada título también se asignan a una clase. De esta forma es
 * posible asignar un estilo de h3 a un h2, por ejemplo, de forma que podamos
 * respetar la semántica y aplicar los estilos adecuados a los títulos en las
 * diferentes secciones.
 */

h1
h2
h3
h4
h5
h6
  font-family $baseHeadingFontFamily

h1
.h1
  font-weight normal

h2
.h2 {}

h3
.h3 {}

h4
.h4 {}

h5
.h5 {}

h6
.h6 {}
