/**
 * # Variables
 *
 * Configuraciones del proyecto
 */

/*
 * Soporte para versiones antiguas de IE (6, 7 y 8)
 */
support-for-ie = false

/*
 * Arcoiris :3
 * Una paleta de colores básica, basada en http://clrs.cc. Sustituye estos
 * colores por los de la paleta de tu web o aplicación.
 */
$white = #ffffff
$silver = #dddddd
$gray = #aaaaaa
$black = #111111
$navy = #001f3f
$blue = #0074d9
$aqua = #7fdbff
$teal = #39cccc
$olive = #3d9970
$green = #2ecc40
$lime = #01ff70
$yellow = #ffdc00
$orange = #ff851b
$red = #ff4136
$maroon = #85144b
$fuchsia = #f012be
$purple = #b10dc9

/*
 * Fuentes
 */
// Familia de fuente principal
$baseFontFamily = 'Droid Serif', serif
// Familia de fuente para títulos
$baseHeadingFontFamily = 'Droid Serif', serif
// Nombre de la fuente de iconos
$iconFontFamily = 'icon'
// Color base del texto
$fontColor = #111
// Tamaño base del texto en px. Será convertido
// automáticamente a em (ver base.styl)
$fontSize = 16

